* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open-sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #48b5eb;
    font-size: 100 px;
    text-align: center;
    margin-bottom: 60px;
    font-family: 'open sans';
}

/*header*/

header {
    width: 100%;
    height: 600px;
    background: #2980B9;
    background: -webkit-linear-gradient(to right, hsla(0, 0%, 100%, 0.621), hsla(196, 93%, 70%, 0.588), hsla(204, 64%, 44%, 0.5)), url(img/portada-clinica.jpg );
    background: linear-gradient(to right, hsla(0, 0%, 100%, 0.621), hsla(196, 93%, 70%, 0.588), hsla(204, 64%, 44%, 0.5)), url(img/portada-clinica.jpg );
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav>a {
    color: black;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    font-family: 'open sans';
    font-style: oblique;
}


nav>a:hover {
    text-decoration: underline;
}

.textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: black;
    background-color: #ffffff8d;
    border-radius: 5rem;
    padding: 1rem;
    font-family: 'open sans';
    font-style: oblique;
}


.textos-header h2 {
    font-size: 30px;
    color: black;
    font-weight: 300;
    background-color: #ffffff8d;
    border-radius: 5rem;
    padding: 0.5rem;
    margin-top: 1rem;
    font-family: 'open sans';
    font-style: italic;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/*sobre nosotros*/

.contenedor-sobre-nosotros {
    display: flex;
}

.our-instalations {
    width: 50%;
    padding: 1rem;
    justify-content: center;
}

.sobre-nosotros .contenido-textos {
    width: 48%;
    justify-content: center;
}

.contenido-textos h3 {
    margin-bottom: 1px;
    font-family: 'open sans';
    font-style: oblique;
    font-size: x-large;
}

.contenido-textos h3 span {
    background-color: #48b5eb;
    color: white;
    border-radius: 20%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 1px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
    font-family: 'open sans';
    font-style: inherit;
    font-size: large;
    margin-top: 32%;
}

.contenido-textos p {
    padding: 0px 0px 30px 15px;
    text-align: justify;
    font-weight: 300;
    font-family: 'open sans';
    font-style: inherit;
    justify-content: center;
}

/*portafolio de servicios*/

.portafolio {
    background-color: white;
}

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    height: 180px;
}



.imagen-port>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(0, 0%, 100%, 0.655);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria p {
    text-align: center;
}


.hover-galeria img {
    width: 50px;
}

.hover-galeria p {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: "ubuntu";
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

/*reseñas*/

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    background-color: black;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.contenido-texto-card{
    color: #fff;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*servicios online*/

.online-services{
    background-color: white;
    padding:30px;
}

.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
    font-family: "ubuntu";
    letter-spacing: 5px;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
    font-family: "ubuntu";
    letter-spacing: 1px;
}

/*footer*/

footer{
    background: black;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}

.content-foot{
    text-align: center;
}

.content-foot h4{
    color: white;
    border-bottom: 3px solid white;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foot p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: white;
}







